[submodule "deps/spine-runtimes"]
	path = deps/spine-runtimes
	url = https://github.com/bjornswenson/spine-runtimes
[submodule "deps/lovestep"]
	path = deps/lovestep
	url = https://github.com/bjornswenson/lovestep
